
.line {
    width: 1px;
    /* border: 1px solid black; */
}

.test {
    z-index: 0;
    position: fixed;
}

.instructions {
    padding-left: calc(100vw - 100%);
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 40px;
    background-image: linear-gradient(to bottom, #f0f0f0, #ffffff);
    background-color: #f0f0f0;
}

.slider {
    z-index: 0;
}

.list {
    width: fit-content;
    margin: auto;
}


