.layout {
    display: flex;
}

.line {
    width: 1px;
    /* border: 1px solid black; */
}

.test {
    z-index: 0;
    position: fixed;
}

.instructions {
    padding-left: calc(100vw - 100%);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

.list {
    width: fit-content;
    margin-left: auto;
    background-color: blue;
}

/* html {
    overflow-y: scroll;
} */