.nav {
  display: flex;
  position: fixed;
  width: 100%;
  margin: 0px;
  height: 70px;
  top: 0px;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  z-index: 1;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.title {
  color: #000000;
  position: absolute;
  margin-left: 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
}

.title:visited {
  color: #000000;
}

.link {
  text-align: center;
  text-justify: center;
  padding: 0px;
}

.links {
  display: flex;
  height: 70px;
  width: 100vw;
  gap: 37px;
  justify-content: center;
  font-weight: 300;
  font-size: 16px;
  font-weight: 400;
}

.links:visited {
  color: #000000;
}

.drawer {
  margin-left: 50px;
}

.link {
  color: #000000;
  transition: .3s;
}

.link:hover {
  color: rgb(133, 133, 133);
}

.link_holder {
  display: flex;
  height: 70px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 60px;
  margin-left: 30px;
}

html {
  background-color: white;
}