@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background-color: white;
}

.page {
  font-family: 'roboto';
  color: black;
  min-height: calc(100vh - 70px);
  /* padding-bottom: 200px; */
  padding: 0 20px 200px 20px;
  background-color: white;
}

.test {
  padding-top: 70px;
  background-color: white;
}

html {
  background-color: white;
}

.page1{
  font-family: 'roboto';
  color: black;
  min-height: calc(100vh - 70px);
  padding-bottom: 200px;
  background-color: white;
}